/* section - panel-input */
#company-info-set-wrapper {
  margin: 30px 0px 0px 25px;
}

.company-info-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#company-name-input {
  margin-right: 270px;
  width: 300px;
  height: 25px;
}

#company-desc-input {
  margin-right: 120px;
}

#company-desc-set-wrapper {
  margin-top: 10px;
}

#company-name-set-wrapper {
  margin-top: 10px;
}

#bottom-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  right: 200px;
}

#list-button {
  margin-left: 25px;
}

#create-button {
  margin-right: 25px;
}
