<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="..\static\css\common.css" />
    <link rel="stylesheet" type="text/css" href="..\static\css\detail_view.css" />
    <title>Company List</title>
  </head>
  <body>
    <section id="panel-wrapper">
      <div id="outer-box-wrapper">
        <div id="outer_box">

          <section id="panel-head">
            <div id="boxtitle-and-time-wrapper">
              <div id="box-title">
                <p>회사 목록</p>
              </div>
              <div id="server-time-wrapper">
                <p>서버 시간 :</p>
                <div id="server-time">
                  <p>yyyy-mm-dd hh:mm:ss</p>
                </div>
              </div>
            </div>
          </section>

          <div id="divide-line"></div>

          <section id="panel-info">
            <div id="company-info-set-wrapper">
              <div class="company-info-wrapper" id="company-name-set-wrapper">
                <p>회사 상세 보기 :</p>
                <div id="company-name-data">
                  <p>nnnnn</p>
                </div>
              </div>

              <div class="company-info-wrapper" id="company-desc-set-wrapper">
                <p>설명 :</p>
                <div id="company-desc-data">
                  <p>ddddd</p>
                </div>
              </div>
            </div>
          </section>

          <section id="pannel-buttons">
            <div id="button-wrapper">
              <button
                id="list-button"
                type="button"
                onClick="location.href='PAGENAME.html'"
              >
                목 록
              </button>
              <button
                id="modify-button"
                type="button"
                onClick="location.href='PAGENAME.html'"
              >
                수 정
              </button>
              <button
                id="delete-button"
                type="button"
                onClick="location.href='PAGENAME.html'"
              >
                삭 제
              </button>
          </section>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
