<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="..\static\css\common.css" />
    <link rel="stylesheet" type="text/css" href="..\static\css\index.css" />
    <title>Company List</title>
  </head>
  <body>
    <section id="panel-wrapper">
      <div id="outer-box-wrapper">
        <div id="outer_box">
          
          <section id="panel-head">
            <div id="boxtitle-and-time-wrapper">
              <div id="box-title">
                <p>회사 목록</p>
              </div>
              <div id="server-time-wrapper">
                <p>서버 시간 :</p>
                <div id="server-time" class="real-time"></div>
              </div>
            </div>
          </section>

          <div id="divide-line"></div>

          <section id="panel-table">
            <div id="table_wrapper">
              <table>
                <tr>
                  <th>ID</th>
                  <th>회사명</th>
                  <th>설 명</th>
                  <th>생성일</th>
                  <th>수정일</th>
                </tr>
              </table>
            </div>
          </section>

          <section id="panel-button">
            <div id="new-button-wrapper">
              <button
                type="button"
                value="move-page"
                class="go-to-new-registration"
                onClick="location.href='add_view'"
              >
                신규 등록
              </button>
          </section>
        </div>
      </div>
    </section>

    <script>
      function get_company_list() {
        $.ajax({
          type: 'GET',
          url: 'api/list',
          contentType: 'JSON',
          error: function(xhr, potion, error) {
            console.log('실패');
            console.log(error);
          },
          success: function (data) {
            console.log('성공');
            console.log(data)
            let tmp = "";
            $.each(data.results, function(idx, item) {
              console.log('item',item)
              tmp += `<tr><td>${item["id"]}</td>`;
              tmp += `<td>${item.company_name}</td>`;
              tmp += `<td>${item.description}</td>`;  
              tmp += `<td>${item.cdate}</td>`;  
              tmp += `<td>${item.udate}</td></tr>`;
              if (idx < data.length) {
                return false
              }
            })
            console.log('tmp::', tmp)
            $("table").append(tmp);
          }
        })
      }
      get_company_list()

      function get_server_time() {
        $.ajax({
          type: 'GET',
          url: 'api/server_time',
          contentType: 'JSON',
          error: function(xhr, potion, error) {
            console.log('실패');
            console.log(error);
          },
          success: function (data) {
            console.log('성공');
            console.log(data)
            $(".real-time").html(`<p>${data}</p>`)
          }
        })
      }
      setInterval(get_server_time, 1000)
    </script>
  </body>
</html>
