<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="..\static\css\common.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\update_company.css">
    <title>Company List</title>
  </head>
  <body>
    <section id="panel-wrapper">
      <div id="outer-box-wrapper">
        <div id="outer_box">
          
          <section id="panel-head">
            <div id="boxtitle-and-time-wrapper">
              <div id="box-title">
                <p>회사 수정</p>
              </div>
              <div id="server-time-wrapper">
                <p>서버 시간 :</p>
                <div id="server-time">
                  <p>yyyy-mm-dd hh:mm:ss</p>
                </div>
              </div>
            </div>
          </section>
  
          <div id="divide-line"></div>

          <section id="panel-input">
            <form
              action="/examples/media/action_target.php"
              method="post"
              id="company-info-set-wrapper"
            >
              <div class="company-info-wrapper" id="company-name-set-wrapper">
                <p>회사명 :</p> 
                <div>
                  <input id="company-name-input" type="text" name="company_name" size=48 maxlength=50>
                </div>
              </div>
    
              <div class="company-info-wrapper" id="company-desc-set-wrapper">
                <p>설명 :</p>
                <div>
                  <textarea
                    id="company-desc-input"
                    rows="9"
                    cols="62"
                    type="text"
                    maxlength=4000
                    name="company_description"
                  ></textarea>
                </div>
              </div>
              <div id="bottom-buttons-wrapper">
                <button
                type="button"
                onClick="location.href='PAGENAME.html'"
                >
                목 록
                </button>
                <button id="create-button">적 용</button>
              </div>
            </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </body>
</html>
