<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
      crossorigin="anonymous">
    </script>
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="{{ url_for("static", filename="css/common.css") }}" 
    /> <!-- net::ERR_ABORTED 404 (NOT FOUND) 발생시 적용 -->
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="{{ url_for("static", filename="css/update_company.css") }}" 
    />
    <title>Update Company</title>
  </head>
  <body>
    <section id="panel-wrapper">
      <div id="outer-box-wrapper">
        <div id="outer_box">
          
          <section id="panel-head">
            <div id="boxtitle-and-time-wrapper">
              <div id="box-title">
                <p>회사 수정</p>
              </div>
              <div id="server-time-wrapper">
                <p>서버 시간 :</p>
                <div id="server-time">
                  <p></p>
                </div>
              </div>
            </div>
          </section>
  
          <div id="divide-line"></div>

          <section id="panel-input">
            <div id="company-info-set-wrapper">
              <form
                id="form-data"
                method="put"
              >
                <div id="company-name-set-wrapper" class="company-info-wrapper">
                  <p>회사명 :</p> 
                  <div>
                    <input 
                      id="company-name-input" 
                      name="company_name" 
                      type="text" 
                      size=48 
                      maxlength=50
                    >
                  </div>
                </div>
      
                <div id="company-desc-set-wrapper" class="company-info-wrapper" >
                  <p>설명 :</p>
                  <div>
                    <textarea
                      id="company-desc-input"
                      name="description"
                      type="text"
                      rows="9"
                      cols="62"
                      maxlength=4000
                    ></textarea>
                  </div>
                </div>
                <div id="bottom-buttons-wrapper">
                  <button
                  id="list-button"
                  type="button"
                  >
                  목 록
                  </button>
                  <button 
                    id="update-button" 
                    type="button" 
                    >
                    적 용
                  </button>
                </div>
              </form>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>

    <script>
      $(document).ready(function() {
        (function() {
          $.ajax({
            type: "GET",
            url: `/company/api/get/${ "{{ company_id }}" }`,
            contentType: "JSON",
            error: function(xhr, potion, error) {
              console.log("실패");
              console.log(error);
            },
            success: function(data) {
              console.log("성공");
              console.log(data)
              $("document").ready(function() {
                $("#company-name-input").val(data.result.company_name),
                $("#company-desc-input").val(data.result.description)
              })
            }
          })
        }());
      });

      $("#list-button").click(function() {
        $(location).attr("href", "/company/list_view")
      });
      
      $("#update-button").click(function() {
        const company_name = $("#company-name-input").val().trim();
        const description = $("#company-desc-input").val().trim();
        
        if (company_name === "") {
          alert("회사명을 입력해주세요.");
          return;
        }

        if (description === "") {
          alert("설명을 입력해주세요.");
          return;
        }

        let form_data = $("#form-data").serialize();

        $.ajax({
          type: "PUT",
          url: `/company/api/update/${ "{{ company_id }}" }`,
          data: form_data,
          dataType: "json",
          timeout: 180000,
          error: function(xhr, potion, error) {
            console.log("실패");
            console.log(error);
          },
          success: function(data) {
            console.log("성공");
            console.log(data);
            window.location.href = "/company/list_view";
          },
        });
      });

      setInterval(function() {
        $.ajax({
          type: "GET",
          url: "/common/api/server_time",
          contentType: "JSON",
          error: function(xhr, potion, error) {
            console.log("실패");
            console.log(error);
          },
          success: function(data) {
            console.log(data);
            $("#server-time").html(`<p>${data}</p>`);
          },
        });
      }, 1000);
    </script>
  </body>
</html>
